* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.total {
  height: 60vh;
  width: 80vw;
  background-color: aliceblue;
  border: 3px solid rgb(0, 200, 255);
  border-radius: 10px;
  box-sizing: border-box;
}

.display-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  width: 70%;
  height: 60%;
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  border: 1px dashed rgb(0, 120, 150);
  background-color: aliceblue;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgb(0, 120, 150);
  letter-spacing: 2px;
}

.allbuttons {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

button {
  width: 18%;
  height: 20%;
  margin: 1px;
  border: 1px dotted rgb(0, 120, 150);
  background-color: aliceblue;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgb(0, 120, 150);
  font-size: 18px;
  font-weight: 700;
}

img {
  height: 18px;
}
@media (min-width: 750px) {
  .total {
    width: 70vw;
    height: 70vh;
  }
  button {
    font-size: 20px;
  }
  img {
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .total {
    width: 35vw;
  }
  button {
    font-size: 22px;
  }
  img {
    height: 22px;
  }
}