* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.greeting{
  height: 10vh;
  width: 80vw;
  background-color: #00324b;
  border-radius: 10px;
  border: 1px dotted rgb(100, 225, 255);
  box-sizing: border-box;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greeting p {
  font-size: 18px;
  color: aliceblue;
  letter-spacing: 1px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 2px;
}
.total {
  height: 60vh;
  width: 80vw;
  background-color: aliceblue;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}
.display-box {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  width: 85%;
  height: 60%;
  margin-top: 20px;
  font-size: 24px;
  border: 1px dashed rgb(0, 120, 150);
  background-color: aliceblue;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgb(0, 120, 150);
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.optionOutput {
  width: 75%;
  height: 40%;
  margin-top: 2px;
  font-size: 14px;
  border: 1px dashed rgb(0, 120, 150);
  background-color: aliceblue;
  border-radius: 10px;
  color: rgb(0, 120, 150);
  letter-spacing: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  text-transform: capitalize;
}
.allbuttons {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
button {
  width: 60%;
  height: 20%;
  margin-bottom: 5px;
  border: 1px dotted rgb(100, 225, 255);
  background-color: rgb(0, 50, 75);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
#Remover{
  font-size: 14px;
  color: aliceblue;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: italic;
}
#bulb-box{
  width: 60%;
  height: 20%;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  background-color: aliceblue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Layer_1{
  height: 95%;
}
.cls-1 {
  fill: #00324b;
}
.cls-2 {
  fill: #6d6e71;
}
.cls-2, .cls-3 {
  stroke: #00324b;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}
@media (min-width: 750px) {
  .total {
    width: 70vw;
    height: 70vh;
  }
  .greeting {
    width: 70vw;
  }
  button {
    font-size: 25px;
  }
  .optionOutput{ font-size: 16px;}
  #Remover{ font-size: 16px;}
  .display{font-size: 35px;}
}
@media (min-width: 1024px) {
  .total {
    width: 40vw;
  }
  .greeting {
    width: 40vw;
  }
  button {
    font-size: 25px;
  }
  .optionOutput{ font-size: 16px;}
  #Remover{ font-size: 16px;}
  .display{font-size: 35px;}
}
button:active {
  background-color: #252525;
  width: 55%;
}