* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;}

body {width: 100%;
  min-height: 100vh;
  background-color: #252525;
}

header{width: 100%;margin-top: 10px; height: 38px;}

main{width: 100%;
  margin-top: 40px;}

h1 {text-align: center;
  text-transform: uppercase;
  color: #fffff0;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: underline dotted #b0fe94;
}

.input_field{
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#user_input{
  width: 60%;
  max-width: 700px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  background-color: #fffff0;
  color: #252525;
}

#input_submit{
  height: 40px;
  width: 50px;
  background-color: #b0fe94;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #252525;
  cursor: pointer;
}

#input_submit:active{
  background-color: #88c472;
}

.output_field{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.outputs{
  width: 85%;
  max-width: 1200px;
  height: 100%;
  background-color: #fffff0;
  border-radius: 10px;
  border-left: 2px solid #b0fe94;
  border-bottom: 2px solid #b0fe94;
  border-right: 2px solid #b0fe94;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.test{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #505050;
  margin-top: 15px;
}

.para_notes{
 font-size: 16px;
 letter-spacing: 0.5px;
 font-weight: 400;
}

.delete_btn{
  height: 40px;
  width: 50px;
  background-color: #bf3d3d;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.delete_btn:active{
  background-color: #923030;
}